.gitignore
.vscode/launch.json
.creds
*.log

*Vault.ini
.vscode/settings.json
plink.exe
*test*.csv
*test*.txt
*test*.log

Migration/Migration via REST/ExportOfAccounts.csv
Migration/Migration via REST/FailedAccounts.csv
Migration/Migration via REST/history.txt
Migration/Migration via REST/TestingScript.ps1
Migration/Migration via REST/output*
Migration/Migration via REST/CheatSheat.ps1
testing*
Migration/Migration via REST/Migrate - Copy.psm1
Migration/Migration via REST/CheatSheet.ps1
Migration/Migration via EVD/Import/*
Migration/Migration via EVD/Export/*
Migration/Migration via EVD/Projects/*

Migration/Migration via VEM/Convert-VEMFiles/Ignore

*.bad.csv
*.good.csv
.github/copilot-instructions.md
